
<!DOCTYPE html>
<html lang="en">
<head>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
           <link rel="stylesheet" type="text/css" href="styles.css">
  <% include ../views/partials/_header %>
  
  <!-- <title>TinyApp</title> -->
</head>
<body>
<% if(Object.keys(urls).length == 0){ %>
   <h1>your object aint got nothing</h1>
 <% } else{ %>  
  <div style="height: 35px"></div>
   <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th class="text">Id</th>
            <th class="text" style=" padding: 50 2px 5px;">WebSite</th>
          </tr>
        </thead>
        <tbody>
          <% for(var attribute in urls){ %>
          <tr>
            <td class="text"><%- attribute %></td>
            <td><a href="<%= urls[attribute] %>" class="text" style="margin-left: 100px;"><%= urls[attribute] %></a>
            <td><form method="GET" action="/urls/<%= attribute %>">
            <input class="btn" type="submit" value="Edit">
            </form>
          </td>
            <td>
              <form method="POST" action="/urls/<%- attribute %>/delete" >
              <input class ="btn" type="submit" value="Delete"/>
            </form>
            </td>

          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
   <div style="text-align: right; margin-right: 100px">

      <a href="/urls/new"  class="btn">Add new address</a>
    </div>
            
         
<% } %>
    
</body>
</html>







<style type="text/css">
 .btn {
  -webkit-border-radius: 22;
  -moz-border-radius: 22;
  border-radius: 22px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #4abdac;
  padding: 8px 16px 8px 16px;
  text-decoration: none;
}

.btn:hover {
  background:   #f7b733;
  text-decoration: none;
}

.text{
  font-size: 1.5em; 
  text-align: center;
}

a {
    color: #2444C9;
}

body {
    text-align: center;
}
form {
    display: inline-block;
}
